@model DotNetApplication


<div class="d-flex justify-content-between">
    <small>Secrets Path</small>
    <small>@Model.SecretsPath</small>
</div>
<div class="d-flex justify-content-between">
    <small>IIS Site Name</small>
    <small>@Model.IISSiteName</small>
</div>
<div class="d-flex justify-content-between">
    <small>Target Framework</small>
    <small>@Model.TargetFramework</small>
</div>